body {
    padding-bottom: 250px;
    background-color: black;
    color: aliceblue;
    }

#border {
    
    padding-bottom: 25px;
    margin-top: 0px;
}

hr {
    width: 50%;
    color: black;
}

#guesses {
    color: red;
    max-width: 100%;
}

#correct {
    color: green;
}

#winloss {
    padding-bottom: 100px;
    margin-top: 0%;
    padding-top: 0%;
    border: 5px solid black;
}